* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

/* pokedex header bar */
.pokedex-bar {
  width: 100%;
  height: 60px;
  top: 0;
  background-color: rgb(255, 209, 6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.pokedex-title {
  margin-right: 5%;
}

/* pokemon title */

.pikachu-splash {
  margin: 10px;
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
}

.pikachu-title {
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(71, 71, 71);
}

.pikachu-description {
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(255, 209, 6);
}

.pikachu-container {
  display: flex;
}

.pikachu-img {
  width: 400px;
}

/* pikachu info (left-side) */

.pikachu-info,
.pikachu-stats {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 25%;
  justify-content: center;
  gap: 15px;
}

span {
  width: 120px;
}

.info,
.stats {
  display: flex;
  gap: 35px;
}

.info > div > span {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

.stats > div > span {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

.info-value,
.stat-value {
  width: 150px;
  font-size: 0.9rem;
  color: rgb(34, 34, 34);
}
.info,
.stats > .info-value {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
}
.stats .stats-base {
  display: flex;
  justify-content: center;
}

.stats-base {
  font-weight: 700;
  color: #ffff;
  display: flex;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgb(229, 187, 0);
  width: 60px;
  padding: 5px;
  text-align: center;
}

/* type and form */
.pikachu-forms {
  color: white;
  text-transform: uppercase;
  background-color: rgb(229, 187, 0);
  text-align: center;
  border-radius: 3px;
  width: 65px;
}

.pikachu-type {
  color: white;
  text-transform: uppercase;
  padding: 3px;
  background-color: rgb(255, 227, 70);
  text-align: center;
  width: 65px;
  border-radius: 3px;
  box-shadow: 0px 0px 6px 5px rgb(252, 229, 101);
}

/* moves */

.pokemon-moves {
  display: flex;
  justify-content: center;
}

.pokemon-moves-table {
  width: 40%;
  margin-bottom: 20px;
  border-spacing: 0;
}

table {
  border: 1px solid rgb(216, 216, 216);
}

th,
td {
  border-bottom: 1px solid rgb(216, 216, 216);
}

th {
  color: white;
  background-color: rgb(255, 209, 6);
  border-top: none;
  text-align: start;
  padding-left: 10px;
}

td {
  background-color: rgb(255, 255, 220);
  text-align: start;
  padding: 5px 5px 5px 10px;
}
